*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #cceaf0;
}

.navbar{
    display: flex;
  
    align-items:center;
    max-width: 1200px;
    margin: auto;

}
.logo{
    margin: 0;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(40, 210, 121);
}

.menu li a:hover{
   
    background-color: #a5a5a5;
    padding: 1rem;
    color: rgb(247, 165, 240);
}
.menu li:hover{
    transform: scale(1.1);
}



/*seccion principal de (hero)*/
.hero{
    text-align: center;
    padding: 1rem;
    background-color: #690cff;
    color: #fff;
    clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
    display: block;
}
.page{
  
    align-items: center; 
    
}
/*formulario*/
.formu{
    background-color: #a6c7cd;
    display:flex;
    padding: 4px; 
    width: 440px;
    border-radius: 19px;
 
}
@media(max-width:730px){
    #suscripcion{
        margin: auto;
        width: 380px;
        align-items: center;
        flex-direction: column;
        display: block;
        justify-content: center;
    }
}          
@media(max-width:468px){
    #suscripcion{
        margin: auto;
        justify-content: center;
        width: 380px;
        align-items: center;
        flex-direction: column;
        display: block;
    }
}
.bien{
    color: #06ef7b;
    
}
h2{
    font-family: cursive;
}
.hero h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.hero p{
    font-size: 1.2rem;
}
/*selecciones generales*/
#seccion{
    padding: 2rem;
    max-width: 1310px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
    display: block;
}
#section h1, section h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
}
#secc {
    padding: 3rem;
    max-width: 1310px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
    display: block;
    background-color: #f4f4f8;
}
#servicioss{
    padding: 2rem;
    max-width: 1310px;
    margin: auto;
    color:black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
    display: block;
    text-align: center;
}
#servicioss p{
    color: #434343;
}
.features ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.features li{
    background-color: #04d4f0;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    flex: 1 1 calc(33% - 1rem);
    text-align: cemter;
    font-weight: bold;
}
/*formulario*/
.suscribete{
    display: block;
    width: 460px;
    gap: 3rem;
    max-width: 300px;
    margin: auto ;
    justify-content: center;
}

.consuscri h1{
    align-items: center;
    text-align: center;
}
form button:hover{
    background-color: #06ef7b;
    transform: scale(1.1);
}
.suscribete input, .suscribete button{
    width: 100%;
    margin: auto;
    margin-bottom:1.1rem;
    padding: .9rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
form input:focus{
    outline: none;
    border-color: #06ef7b;
    transform: scale(1..05s);
    
}
.btnn{
 --glow-color:rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123,255, 0.781);
    --enhanced-glow-color: rgb(231,206, 255);
    --btn-color: rgb(100,61, 136);
    border: 25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 25px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow:  0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .5em var(--glow-color);
    text-shadow: 0 0 .3em var(--glow-color);            
    position: relative;
    transition: all 0.3s;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 12px 20px;
    border-radius: 25px;
   
}
.comentario{
    display: flex;
    gap: 1rem;
    margin: auto;justify-content: center;
    padding: 1rem;
}
.icomentar{
    font-size: 1.1rem;
}
.botonC{
    font-size: 0.6rem;
}
.botonC:hover{
    background-color: #06ef7b;
    color: black;
}


/*footer*/
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    display: block;
}
/*animaciones*/
.icon:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.consuscri{
    width: 450px;
    align-items: center;
    
    height: 50vh;
 
    justify-content: center;
    border-radius: 19px;
    animation: fadeIn 1s ease-in-out;
    


}

@keyframes fadeIn {
    form{
        opacity: 0;
        transform: translateY(-19px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}
.CONTENEDOR1{

    background-color: #06ef7b;
    align-content: center;
    position: relative;
    font-size: 19px;
    width: 400px;
    left: 39%;
}




@media (max-width:468px) {
    .CONTENEDOR1{
        left: 0;
       align-items: center;
       display: flex;
       justify-content: center;
       flex-direction: column;
   
    }

    .consuscri{
        justify-content: center;
        align-items: center;
        width: 350px;
        display: flexbox;
    }
}



.menuD{
    position: relative;
    left:14%;
    display: block;
}
.menuD:checked ~ .nav-list{
    display: flex;
}

.botonRedireccion{
    background-color: #06ef7b;
    width: 1.9rem;
    border-radius: 3rem;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 190px;
    left:  9px;
}
.suscr{
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: black;
    

}
.flecha{
    width: 1rem;
    margin: 0 6px;
}
.botonRedireccion:hover{
    background: #fa8cf4;
}
.suscr:hover{
    color: #fff;
}

.service1,.service3, .service4,  .service7{
    box-shadow: 0 ,0, 0 ,0.4;
    width: 450px;
    display:flex;
}
.mayor{
    display: inline  ;
}
.padre{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 1300px;
    margin:auto;
}


@media (max-width: 730px){
    .padre{
        display: flexbox;
        width: 100%;
        padding: 1px;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        
    }

}
@media(max-width:480px){
    .service1, .service3,.service4, .service5{
        width: 380px;
        align-items: center;
        margin: auto;
        display:block;
    }

    
}

.service1{
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;
    padding:0;

}
.service3{
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;  
    padding: auto;  

}
.service4{
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;          
    padding: auto;
}
.service5{
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 px px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;
    
    padding: auto;
}

.redes{
    width: 2.6rem;
    padding: 5px;
    margin: auto;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.redes:hover{
    width: 3rem;
}

#secc1 {
    padding: 3rem;
    max-width: 1310px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
    display: block;
    background-color: #8f90f8;
}#secc3 {
    padding: 3rem;
    max-width: 1310px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
    display: block;
    background-color: #ffd10280;
}#secc4 {
    background-color: #f74c2eb0;
    padding: 3rem;
    max-width: 1310px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
    display: block;
}#secc {
    padding: 3rem;
    max-width: 1310px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
    display: block;

}#secc7 {
    padding: 3rem;
    max-width: 1310px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
    display: block;
    background-color: #0ae766;
}
.Picture{
    width: 4rem;
    margin-left: 1.6rem;
    padding: 0;
}
.barra{
    font-size: 1.9rem;
    padding: 0;
    margin: 0;
}
.enlaceRedireccion{
    justify-content: center;
    text-align: center;
}
.enlaceRedireccion a{
    text-decoration: none;
    color: #690cff;
    padding: 1rem;

}
.comprar{
    width: 1rem;

}
.compra{
    width:100%;
    padding: .6rem;
    background: #2b252528;
    border: none;
     border-radius: 5px;
     margin: auto;
     text-align: center;
     justify-content: center;
     align-items: center;
     display: block;
     color: #000000;
     font-size: 3vh;
}
.compra:hover{
    background-color: #f594e5;
    animation: infinite;
    scale: 1.1;
    .comprar{
        margin-left: 14rem;
    }
}
.ser{
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-bottom:3rem;
    font-size: 1.1rem;
    display: block;
    padding-top: 1rem;
}
.nosotros{
    display: block;padding: 1rem;

}
.nosotros h1 {
    font-size: 1.9rem;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
}

/* Sección de comentarios */
#comentarios {
    margin-top: 1px;
    padding:1px;
    border-radius: 8px;
    display: block;
}

#comentarios-form {
    display: flexbox;
    margin: auto;
    
}
#comentarios-form input:focus{
    border: 1.5px #06ef7b solid;
}
#comentarios-form textarea:focus{
    border: none;
}
#comentarios-form input,
#comentarios-form textarea {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #e2e9eb;
    color: #171a18;
}

#comentarios-form button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: .6rem;
    transition: background-color 0.3s ease;
}

#comentarios-form button:hover {
    background-color: #6a0dad;
}

#comentarios-lista {
    display: block;
    margin-top: 20px;
    padding: 9px;
    border-top: 1px solid #ddd;
}

.coment{
    font-size: 1.5rem;
    color: white;
    margin-top: 10px;
}
.comentario { 
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    display: block;

}

/* Sección de suscripción */
#suscripcion {
    margin: auto;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #171a18, #303036, #59828f, #3b4255,#e70bb057);
    margin-bottom: 1rem;
    color: white;
    height: 300px;   
    border-radius:9px;
    width: 380px;
  

}
#suscripcion h2{
    display: block;
    color: white;
    position: relative;
}
#suscripcion-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: auto;
    align-items: center;
}

#suscripcion-form input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
}

#suscripcion-form button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 70%;
    transition: background-color 0.3s ease;
}

#suscripcion-form button:hover {
    background-color: #fd64cf;
}
#suscripcion-mensaje{
    text-align: center;
    justify-content: center;

}
/* Estilos para el asistente de IA */
#asistente-ia {
    margin-top: auto;
    background: linear-gradient(45deg, #171a18, #303036, #59828f, #3b4255,#e70bb057);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}
#asistente-ia h2{
    color: #eaecf3;
}
@media (max-width: 468px){
    #asistente-ia {
        margin-top: auto;
        background: linear-gradient(45deg, #171a18, #303036, #59828f, #3b4255,#e70bb057);
   
        border-radius: 8px;
        width: 100%;
        align-items: center;
        justify-content: center;
  
    }
}
#chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#user-input:focus{
    border:1.0px #06ef7b solid;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #6b6969;
    border-radius: 5px;
    padding: 10px;
    background: #858484;
}

#chat-box .message {
    margin-bottom: 10px;
}

#chat-box .message.user {
    text-align: right;
    color: #4b0082;
}

#chat-box .message.bot {
    text-align: left;
    color: #333;
}

#chat-form {
    display: flex;
    gap: 10px;
}

#chat-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #494646;
    border-radius: 5px;
    font-size: 1rem;
}

#chat-form button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#chat-form button:hover {
    background-color: #0d8dad;
}
/* Estilos generales */
.headerr {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #daf5e8;
    color: #333;
    padding: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;

  
    
}

nav ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}

nav ul.menu li a {
    text-decoration: none;
    color: #303036;
    font-size: 1rem;
    transition: color 0.3s ease;
    padding-bottom: 1rem;
    
}

nav ul.menu li a:hover {
    color: #fd7ec8;
}

/* Estilos para el botón de menú (solo visible en móviles) */
.menu-toggle {
    display: none;
    background: none;
    border: no;
    color: #303036;
    font-size: 1.8rem;
    cursor: pointer;
    padding-left: 4%;
    margin-left: 45%;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
    nav ul.menu {
        display: none;
        margin-right: 5px;
        right: 10%;
        top: 11px;
    position: absolute;
      align-items: center;
        background-color: #cceaf0;
        padding:  4rem;
        z-index: 10;
        text-align: center;
        width: 350px;
        bottom: 1px;
        border: 1px solid;
        height: 405px;
    }
    nav ul.menu li{
        border-bottom: 1px #0c323b solid;
        padding-bottom: 1rem;
        padding-bottom: 1rem;
        width: 100%;
    }
    nav ul.menu.active {
        display: flex;
        
        margin:1rem;

        flex-direction: column;
        gap: 19px;
    }

    .menu-toggle {
        display: flex;
        border: none; 
        width:13.5rem;  
}
}
.precio{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 3vh;
    color: rgb(5, 5, 5);
}
.eliminar{
    width: 6rem;
    color: #000000;
background: rgb(62, 240, 136);
    border: none;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 1em;
    

}
.eliminar:hover{
    background-color: #ff79d2;
}